Repository taokepppooo/canoe-homepage: changes, and which lint-staged commands are due for each by the changed paths.
All: lerna run lint:fix, lerna run lint:stylelint:fix

.lintstagedrc.json:

{
  "*.{vue,js,ts,jsx,tsx}": "lerna run lint:fix",
  "*.{*.vue,less,postcss,css,scss}": "lerna run lint:stylelint:fix"
}

chore: lerna构建项目
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: lerna初始化架构
  README.md
  lerna.json
  package-lock.json
  packages/main-app/package.json
  packages/main-app/stylelint.config.cjs
  pnpm-lock.yaml
Due: none

chore: 优化项目架构
  .husky/commit-msg
  .husky/pre-commit
  README.md
  package-lock.json
  pnpm-lock.yaml
Due: none

chore: 初始化构建工具
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  packages/main-app/.eslintrc.cjs
  packages/main-app/.gitignore
  packages/main-app/package.json
  packages/main-app/src/assets/global/constant.less
  packages/main-app/src/assets/global/index.less
  packages/main-app/src/main.ts
  packages/main-app/src/share/generate/generateModifyVars.ts
  packages/main-app/stylelint.config.cjs
  packages/main-app/tsconfig.app.json
  packages/main-app/vite.config.ts
  pnpm-lock.yaml
  stylelint.config.cjs
Due: lerna run lint:fix, lerna run lint:stylelint:fix

chore: 优化lint插件配置
  .eslintignore
  .eslintrc.cjs
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  package-lock.json
  package.json
  packages/main-app/.eslintignore
  packages/main-app/.eslintrc.cjs
  packages/main-app/.prettierignore
  packages/main-app/.prettierrc.json
  packages/main-app/package.json
  packages/main-app/src/App.vue
  pnpm-lock.yaml
Due: lerna run lint:fix

chore: 添加构建版本号
  .gitignore
  lerna.json
  package-lock.json
  package.json
  packages/main-app/package.json
Due: none

chore: 去除构建参数
  package.json
Due: none

chore: 去除version验证
  lerna.json
Due: none

chore: version添加conventional
  package.json
Due: none

chore: lerna添加version参数
  lerna.json
Due: none

chore(release): update release notes and package versions
  package-lock.json
  packages/main-app/CHANGELOG.md
  packages/main-app/package.json
Due: none

chore: 去除publish，修改version脚本名称
  package.json
Due: none

chore: 升级vite
  packages/main-app/package.json
  pnpm-lock.yaml
Due: none

feat(main-app): 添加默认布局
  package-lock.json
  packages/main-app/package.json
  packages/main-app/src/App.vue
  packages/main-app/src/components/layouts/layoutsLeft/index.vue
  packages/main-app/src/layouts/default.vue
  packages/main-app/src/router/constant.ts
  packages/main-app/src/router/index.ts
  packages/main-app/src/router/routes/basic.ts
  packages/main-app/src/router/routes/index.ts
Due: lerna run lint:fix

feat(main-app): 添加左侧导航栏
  .eslintrc.cjs
  package-lock.json
  packages/main-app/package.json
  packages/main-app/src/App.vue
  packages/main-app/src/assets/components/style/layouts-vertical-nav-list.less
  packages/main-app/src/assets/components/style/layouts-vertical-nav.less
  packages/main-app/src/assets/components/style/layouts-viewer.less
  packages/main-app/src/assets/components/style/layouts.less
  packages/main-app/src/assets/global/constant.less
  packages/main-app/src/assets/global/index.less
  packages/main-app/src/assets/global/normal.less
  packages/main-app/src/assets/index.less
  packages/main-app/src/components/icon/index.vue
  packages/main-app/src/components/icon/src/props.ts
  packages/main-app/src/components/layouts/LayoutsVerticalNav.vue
  packages/main-app/src/components/layouts/LayoutsVerticalNavList.vue
  packages/main-app/src/components/layouts/LayoutsViewer.vue
  packages/main-app/src/components/layouts/layoutsLeft/index.vue
  packages/main-app/src/hooks/index.ts
  packages/main-app/src/hooks/useNamespace/index.ts
  packages/main-app/src/layouts/default.vue
  packages/main-app/src/share/generate/generateModifyVars.ts
  packages/main-app/tsconfig.app.json
  packages/main-app/vite.config.ts
Due: lerna run lint:fix, lerna run lint:stylelint:fix

fix(main-app): 修改项目名称
  packages/main-app/package.json
Due: none

feat(main-app): 添加normal样式
  packages/main-app/src/assets/components/style/layouts-vertical-nav-list.less
  packages/main-app/src/main.ts
Due: lerna run lint:fix, lerna run lint:stylelint:fix

feat: 添加动态获取索引功能
  packages/main-app/src/assets/components/style/layouts-vertical-nav-list.less
  packages/main-app/src/assets/global/constant.less
  packages/main-app/src/assets/theme/index.less
  packages/main-app/src/assets/theme/nav.less
  packages/main-app/src/components/layouts/LayoutsVerticalNav/index.vue
  packages/main-app/src/components/layouts/LayoutsVerticalNav/src/layouts-vertical-nav.less
  packages/main-app/src/components/layouts/LayoutsVerticalNavList.vue
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/index.vue
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/item.vue
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/layouts-vertical-nav-list-item.less
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/layouts-vertical-nav-list.less
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/props.ts
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/types.d.ts
  packages/main-app/src/components/layouts/LayoutsViewer/index.vue
  packages/main-app/src/components/layouts/LayoutsViewer/src/layouts-viewer.less
  packages/main-app/src/hooks/useNamespace/index.ts
  packages/main-app/src/layouts/default.vue
  packages/main-app/tsconfig.app.json
  packages/main-app/vite.config.ts
Due: lerna run lint:fix, lerna run lint:stylelint:fix

feat(main-app): 完成点击选中导航逻辑
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/index.vue
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/item.vue
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/props.ts
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/types.d.ts
Due: lerna run lint:fix

feat(main-app): 完成导航功能
  packages/main-app/src/assets/components/style/layouts.less
  packages/main-app/src/assets/theme/nav.less
  packages/main-app/src/components/icon/index.vue
  packages/main-app/src/components/icon/src/props.ts
  packages/main-app/src/components/layouts/LayoutsVerticalNav/src/layouts-vertical-nav.less
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/index.vue
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/item.vue
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/layouts-vertical-nav-list-item.less
  packages/main-app/src/share/generate/generateModifyVars.ts
  stylelint.config.cjs
Due: lerna run lint:fix, lerna run lint:stylelint:fix

chore: 在version命令添加切换分支操作
  package.json
Due: none

chore: 代码自动格式化添加cache选项
  .lintstagedrc.json
Due: none

feat: 添加切换主题功能
  package.json
  packages/main-app/src/App.vue
  packages/main-app/src/assets/theme/index.less
  packages/main-app/src/assets/theme/lime.less
  packages/main-app/src/assets/theme/sky.less
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/index.vue
  packages/main-app/src/components/layouts/LayoutsViewer/index.vue
  packages/main-app/src/main.ts
  packages/main-app/src/utils/theme.ts
Due: lerna run lint:fix, lerna run lint:stylelint:fix

chore: 添加文档git忽略文件
  .gitignore
Due: none

feat(main-app): 左侧导航栏提供切换动画效果
  .npmrc
  lerna.json
  package-lock.json
  package.json
  packages/main-app/.npmrc
  packages/main-app/package.json
  packages/main-app/src/assets/theme/lime.less
  packages/main-app/src/assets/theme/sky.less
  packages/main-app/src/components/layouts/LayoutsVerticalNav/src/layouts-vertical-nav.less
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/index.vue
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/item.vue
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/layouts-vertical-nav-list-item.less
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/layouts-vertical-nav-list.less
  packages/main-app/src/components/layouts/LayoutsVerticalNavList/src/types.d.ts
  packages/main-app/src/utils/calculateElementDistance.ts
  packages/main-app/stylelint.config.cjs
  pnpm-lock.yaml
  stylelint.config.cjs
Due: lerna run lint:fix, lerna run lint:stylelint:fix

feat(main-app): 添加快捷图标导航栏
  packages/main-app/src/assets/components/style/layouts.less
  packages/main-app/src/components/desktop/index.vue
  packages/main-app/src/components/layouts/LayoutsQuickNav/index.vue
  packages/main-app/src/components/layouts/LayoutsViewer/src/layouts-viewer.less
  packages/main-app/src/components/searchEngine/index.vue
  packages/main-app/src/layouts/default.vue
Due: lerna run lint:fix, lerna run lint:stylelint:fix

feat(main-app): 添加图标
  packages/main-app/src/App.vue
  packages/main-app/src/assets/global/common.less
  packages/main-app/src/assets/global/normal.less
  packages/main-app/src/components/desktop/DesktopApp/index.vue
  packages/main-app/src/components/desktop/DesktopApp/src/DesktopAppIcon.vue
  packages/main-app/src/components/layouts/LayoutsViewer/index.vue
  packages/main-app/src/components/searchEngine/index.vue
  packages/main-app/src/hooks/desktop/useDesktop.ts
  packages/main-app/src/hooks/useNamespace.ts
  packages/main-app/src/layouts/default.vue
  packages/main-app/src/types/desktop.d.ts
  packages/main-app/src/views/desktop/index.vue
  packages/main-app/src/views/quickNav/index.vue
  packages/main-app/src/views/searchEngine/index.vue
Due: lerna run lint:fix, lerna run lint:stylelint:fix

feat(main-app): 添加新增网址导航图标功能
  packages/main-app/src/components/desktop/DesktopApp/index.vue
  packages/main-app/src/components/desktop/DesktopApp/src/DesktopAppIcon.vue
  packages/main-app/src/hooks/desktop/useDesktop.ts
  packages/main-app/src/hooks/desktop/useDesktopApp.ts
  packages/main-app/src/views/desktop/index.vue
Due: lerna run lint:fix

feat(main-app): 导航图标添加拖拽功能
  package-lock.json
  packages/main-app/package.json
  packages/main-app/src/components/desktop/DesktopApp/index.vue
  packages/main-app/src/hooks/desktop/useDesktop.ts
  packages/main-app/src/hooks/useSortable.ts
  packages/main-app/src/views/desktop/index.vue
Due: lerna run lint:fix

feat(main-app): 添加本地存储数据结构功能，并使用状态去管理本地数据
  packages/main-app/src/utils/cache.ts
  packages/main-app/src/utils/index.ts
Due: lerna run lint:fix

feat(main-app): stage
  packages/main-app/src/layouts/default.vue
  packages/main-app/src/views/desktop/index.vue
Due: lerna run lint:fix

feat(main-app): stage
  package-lock.json
  packages/main-app/.browserslistrc
  packages/main-app/package.json
  packages/main-app/src/components/desktop/DesktopApp/index.vue
  packages/main-app/vite.config.ts
  pnpm-lock.yaml
Due: lerna run lint:fix

feat(main-app): 不同屏幕高度不同要适配不同高度中心部分的高度
  packages/main-app/src/components/desktop/DesktopApp/index.vue
  packages/main-app/src/components/desktop/DesktopApp/src/DesktopAppIcon.vue
  packages/main-app/src/components/layouts/LayoutsViewer/index.vue
  packages/main-app/src/hooks/desktop/useDesktop.ts
  packages/main-app/src/hooks/desktop/useDesktopApp.ts
  packages/main-app/src/hooks/useGlobal.ts
  packages/main-app/src/stores/layout.ts
  packages/main-app/src/utils/dom.ts
  packages/main-app/src/views/desktop/index.vue
  packages/main-app/vite.config.ts
  pnpm-lock.yaml
Due: lerna run lint:fix

feat(main-app): stage
  packages/main-app/src/views/desktop/index.vue
Due: lerna run lint:fix

feat(main-app): stage
  .vscode/settings.json
  packages/main-app/src/hooks/useSortable.ts
  packages/main-app/src/views/desktop/index.vue
Due: lerna run lint:fix

feat(main-app): stage
  packages/main-app/src/components/desktop/DesktopApp/index.vue
  packages/main-app/src/views/desktop/index.vue
Due: lerna run lint:fix
